@using Crowdy.DAL.Entities
@model ProjectFormView

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="alert-heading text-center">
        <h1 class="mb-3">Décrivez-nous votre projet</h1>
    </div>

    <partial name="_Alert" />
    <form asp-controller="Project" asp-action="Create" enctype="multipart/form-data">
        <div class="project-form row justify-content-center align-items-center">
            <div class="preview-container d-flex justify-content-center col-md-12 col-lg-6">
                <img class="preview-img" src="" />
            </div>
            <div class="col-md-12 col-lg-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Objective" class="control-label"></label>
                    <input asp-for="Objective" class="form-control" />
                    <span asp-validation-for="Objective" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input type="file" name="file" class="form-control image" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 select-group">
                    <label asp-for="Categories" class="control-label"></label>
                    <div class="d-flex justify-content-center align-items-center select-container">
                        <select class="category-select form-select" aria-label="Default select example">
                            <option value="0" selected>Choisissez au moins une catégorie</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <button id="category-btn" type="button" class="btn btn-primary ms-2">Ajouter</button>
                    </div>
                    <input id="hidden-categories" type="hidden" asp-for="Categories" id="selectedCategories" />
                </div>
            </div>
            <div class="col-sm-12 col-lg-12">
                <div id="thresholds">
                    <h3 class="mt-3 mb-2">Les récompenses</h3>
                    @for (int i = 0; i < Model.ProjectThresholds.Count; i++)
                    {
                            <div class="threshold form-group row d-flex align-items-center">
                                <div class="col-sm-12 col-lg-2">
                                    <label asp-for="ProjectThresholds[i].Amount" class="form-label">Montant</label>
                                    <input asp-for="ProjectThresholds[i].Amount" class="form-control" />
                                    <span asp-validation-for="ProjectThresholds[i].Amount"></span>
                                </div>
                                <div class="col-sm-12 col-lg-10">
                                    <label asp-for="ProjectThresholds[i].Description" class="form-label">Description</label>
                                    <input asp-for="ProjectThresholds[i].Description" class="form-control" />
                                    <span asp-validation-for="ProjectThresholds[i].Description"></span>
                                </div>
                            </div>
                    }
                </div>
                <div class="form-group">
                    <button id="threshold-btn" type="button" class="btn btn-primary mt-3 d-block">Ajouter une récompense</button>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <div class="mt-5">
        <a asp-action="Index">Revenir à la liste des projets</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/projectForm.js"></script>
    <script src="~/js/previewImage.js"></script>
}